body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.upper {
    width: 90%;
    max-width: 1100px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.logo, .heading {
    text-align: left;
    margin-bottom: 1rem;
    display: contents;
}

.footer {
    width: 90%;
    max-width: 1100px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.logo-small, .heading-small {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: contents;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}


.header, .row, .capacity-container {
    display: contents;
}

.header div, .row div, .capacity-container div {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.header div {
    background-color: #f4f4f4;
    font-weight: bold;
}

input[type="text"] {
    width: 80px;
    text-align: center;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

.total-row {
    font-weight: bold;
}

.capacity-container {
    width: 90%;
    max-width: 1100px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
